#main, #sidebar, body, html {
    height: 100%;
}

#sidebar {
    overflow: hidden;
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    width: 250px;
    transition: .4s;
    -webkit-box-shadow: inset -10px 0 10px rgba(0, 0, 0, .2);
    box-shadow: inset -10px 0 10px rgba(0, 0, 0, .2);
    height: 100%;
}

@media (min-width: 1280px) {
    #sidebar {
        left: 0;
    }

    #content {
        margin-left: 250px;
    }
}

#overview-navbar {
    padding: 0;
}

.nav-item {
     padding: 15px;
     border-right: 1px solid #e7e7e7;
    color: #999;
 }
.nav-item:last-child {;
    border-right: none;
}

.list-group {
    width: 100%;
}

#filler-sidebar {
    height: 100%;
}

